MONGODB_URl = ""

JWT_SECRET = ""

AUTH_SECRET =""


ClIENT_ID = ""

CLIENT_SECRET = ""

CLOUD_NAME = ""
CLOUD_KEY = ""
CLOUD_SECRET = ""

GMAIL_ID =""
GMAIL_APP_PASSWORD = ""


STRIPE_SECRET_KEY = ""

NEXT_PUBLIC_BASE_URL = http://localhost:3000

WEBHOOK_SECRET=""


GEMINI_API_KEY = ""
